<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">

          <!-- Brand -->
          <a class="navbar-brand font-weight-bolder ms-sm-3"
             href="{% url 'tracking_system:about-us' %}">
            N T S
          </a>

          <!-- Toggler -->
          <button class="navbar-toggler shadow-none ms-2" type="button"
                  data-bs-toggle="collapse" data-bs-target="#navigation"
                  aria-controls="navigation" aria-expanded="false">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">

              <!-- Pages -->
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   data-bs-toggle="dropdown">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  Pages
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg"
                       class="arrow ms-auto ms-md-2">
                </a>

                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-xl mt-3">
                  <h6 class="dropdown-header text-dark font-weight-bolder px-1">
                    Company
                  </h6>

                  <a href="{% url 'tracking_system:about-us' %}"
                     class="dropdown-item border-radius-md">
                    About Us
                  </a>

                  <a href="{% url 'tracking_system:contact-us' %}"
                     class="dropdown-item border-radius-md">
                    Contact Us
                  </a>

                  <h6 class="dropdown-header text-dark font-weight-bolder px-1 mt-3">
                    Account
                  </h6>

                  <a href="{% url 'tracking_system:redactor-create' %}"
                     class="dropdown-item border-radius-md">
                    Sign In
                  </a>
                </div>
              </li>

              <!-- Resources -->
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   data-bs-toggle="dropdown">
                  <i class="material-icons opacity-6 me-2 text-md">view_day</i>
                  Resources
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg"
                       class="arrow ms-auto ms-md-2">
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-3">

                  <li>
                    <a class="dropdown-item border-radius-md"
                       href="{% url 'tracking_system:topic-list' %}">
                      Topics
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-item border-radius-md"
                       href="{% url 'tracking_system:redactor-list' %}">
                      Redactors
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-item border-radius-md"
                       href="{% url 'tracking_system:newspaper-list' %}">
                      Newspapers
                    </a>
                  </li>

                </ul>
              </li>

              <!-- Help -->
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   data-bs-toggle="dropdown">
                  <i class="material-icons opacity-6 me-2 text-md">article</i>
                  Help
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg"
                       class="arrow ms-auto ms-md-2">
                </a>

                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-3">
                  <a class="dropdown-item border-radius-md"
                     href="{% url 'tracking_system:contact-us' %}">
                    Contact Us
                  </a>
                </div>
              </li>

              <!-- Auth -->
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown my-auto ms-3">
                <a class="nav-link d-flex align-items-center"
                   data-bs-toggle="dropdown">
                  <i class="fa fa-user me-1"></i>
                  {{ request.user.first_name|default:request.user.username }}
                </a>

                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item"
                       href="{% url 'tracking_system:redactor-detail' pk=request.user.id %}">
                      Profile
                    </a>
                  </li>
                  <li>
                    <form method="post" action="{% url 'logout' %}" class="dropdown-item">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm">
                          Logout
                      </button>
                    </form>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item my-auto ms-3">
                <a class="btn btn-sm bg-gradient-primary mb-0"
                   href="{% url 'login' %}">
                  Sign In
                </a>
              </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
