{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block title %}
  <title>Create redactor | NTS</title>
{% endblock %}

{% block header %}
  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/bg2.jpg')">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Add new publisher </h1>
            <p class="lead text-white mt-3">to our teams</p>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h1 class="mb-4">{{ object|yesno:"Update, Create" }} redactor</h1>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
      </div>
    </div>
  </div>
{% endblock %}
